/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #e64a3b, #ff6a00);
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.bodyindex{
    display: flex;
    flex-direction: column;
}

/* Encabezado */
header h1 {
    font-weight: bold;
    text-transform: uppercase;
    background: black;
    display: inline-block;
    border-radius: 10px;
    font-size: 1em;
    padding: 10px 20px;
    width: 50%;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    color: black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    overflow: hidden;
    font-size: 14px;
    margin: 0 auto;
}

tr{
    height:10px;
}

/* Encabezado de la tabla */
th {
    background: black;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px;
    width: 15%;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

/* Celdas de la tabla */
td {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 8px;
    width: 15%;
    box-sizing: border-box;  
}

.hora{
    width:10%;
}

/* Contenedor de la tabla */
.schedule {
    display: flex;
    margin: 20px auto;
    overflow: auto;
    height: 550px;
}

.scheduled thead th {
    position: sticky;
    top: 0;
}

/* Artistas en recuadros */
.artist {
    background: #ffcc00;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    text-transform: uppercase;
}

.artist:active{
    background: #534404;
    color: white;
}

.artist:hover{
    background: #534404;
    color: white;
}

.artist2 {
    background: rgb(98, 187, 216);
    color: black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    text-transform: uppercase;
}

.artist2:active{
    background: rgb(5, 61, 80);
    color: white;
}

.artist2:hover{
    background: rgb(5, 61, 80);
    color: white;
}

.empty{
    background: white;
    border-radius: 5px;
}

/* Botón de cambio de día */
button {
    background: #ffcc00;
    width: 50%;
    color: black;
    border: none;
    font-size: 16px;
    padding: 12px 25px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin: 5px auto;
}

button:hover {
    background: #ff9900;
}